* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyFont';
  src: url('./HussarBold-7mRE.otf');
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}

.gameboard {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  /* gap: 32px; */
}

.cell {
  border: 1px solid black;
}
