* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'MyFont';
  src: url('./HussarBold-7mRE.otf');
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 30px);
  grid-template-rows: repeat(11, 30px);
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.cell-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
