* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'MyFont';
  src: url('./HussarBold-7mRE.otf');
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}

.gameboard-container {
  display: flex;
}

.gameboard-container-right {
  display: flex;
  flex-direction: column;
}

.cell-labels-top {
  display: flex;
}

.cell-labels-left {
  display: flex;
  flex-direction: column;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.cell:hover {
  background-color: yellow;
}

.cell-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.right-border {
  border-right: 1px solid black;
}

.cell-filled {
  background-color: black;
}

.hit {
  background-color: greenyellow;
}

.miss {
  background-color: orange;
}
